<%= form_for(@bewerbung) do |f| %>
  <% if @bewerbung.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bewerbung.errors.count, "error") %> prohibited this bewerbung from being saved:</h2>

      <ul>
      <% @bewerbung.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :vorname %><br />
    <%= f.text_field :vorname %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
