<ol class="steps">
  <li <%= 'class="current"'.html_safe if current == :persoenliches %>>
    <% unless current == :bestaetigung %><a <%= 'class="errors"'.html_safe if step_has_errors? :persoenliches %> href="#persoenliches"><% end %>
      <big>Persönliches</big>
      <small>Wie heiße ich?</small>
    <% unless current == :bestaetigung %></a><% end %>
  </li>
  <li <%= 'class="current"'.html_safe if current == :organisatorisches %>>
   <% unless current == :bestaetigung %><a <%= 'class="errors"'.html_safe if step_has_errors? :organisatorisches %> href="#organisatorisches"><% end %>
      <big>Organisatorisches</big>
      <small>Wann ziehe ich ein?</small>
    <% unless current == :bestaetigung %></a><% end %>
  </li>
  <li <%= 'class="current"'.html_safe if current == :motivation %>>
    <% unless current == :bestaetigung %><a <%= 'class="errors"'.html_safe if step_has_errors? :motivation %> href="#motivation"><% end %>
      <big>Motivation</big>
      <small>Warum mich?</small>
    <% unless current == :bestaetigung %></a><% end %>
  </li>
  <li <%= 'class="current"'.html_safe if current == :bestaetigung %>>
    <big>Bestätigung</big>
    <small>Was jetzt?</small>
  </li>
</ol>