<% provide :javascript do %>
  <script>window.location.hash = "#<%= first_step_with_errors %>";</script>
<% end if @bewerbung.errors.any? %>

<article>
  <div id="swap-view">
    <%= form_for @bewerbung, :url => bewerbung_path do |form| %>
      <section id="persoenliches">
        <div class="postits">
          <div class="postit">
            <dl>
              <dt>Ablauf</dt>
              <dd>
                <ol>
                  <li>Diese Bewerbung ausfüllen oder <a href="/documents/hek-bewerbung-formular.pdf">das Formular als PDF herunterladen</a> und per Post schicken</li>
                  <li>Wenn möglich zum Vorstellungsgespräch vorbei kommen</li>
                  <li>Auf Antwort vom Heimleiter warten &#8212; bei Zusage wird ein Mietvertrag geschickt, bei einer Absage können wir leider nicht jeden informieren</li>
                  <li>Mietvertrag zurückschicken</li>
                  <li>Einzugstermin mit Hausmeistern klären</li>
                  <li>Viel Spaß im HEK haben!</li>
                </ol>
              </dd>
            </dl>
            <img class="background" src="/images/postit.png" alt="Postit" />
          </div>
          <div class="postit">
            <dl>
              <dt>Tipp</dt>
              <dd>Da hier immer viele Leute aus- und einziehen erhöhst du deine Chancen ein Zimmer zu bekommen, wenn du dich mindestens 2 bis 3 Monate vorher bei uns bewirbst. Aber es werden auch ab und zu kurzfristig Zimmer frei.</dd>
            </dl>
            <img class="background" src="/images/postit.png" alt="Postit" />
          </div>
        </div>
        <%= render :partial => 'bewerbungen/steps', :locals => { :current => :persoenliches}  %>
        <fieldset>
          <legend><label for="bewerbung_vorname">Persönliche Angaben</label></legend>
          <%= errors_for_methods Bewerbung::PERSOENLICHE_ANGABEN %>
          <ul>
            <li>
              <%= form.label :vorname %>
              <%= form.text_field :vorname, :size => 24, :autofocus => ('autofocus' unless @bewerbung.errors.any?) %>
            </li>
            <li>
              <%= form.label :nachname %>
              <%= form.text_field :nachname, :size => 24 %>
            </li>
          </ul>
          <ul>
            <li>
              <%= form.label :geburtsdatum %>
              <%= form.text_field :geburtsdatum, :type => 'date', :size => 24 %>
              <span>Jahr-Monat-Tag (z.B. <%=l 19.years.ago, :format => @bewerbung.date_format_for(:geburtsdatum) %>)</span>
            </li>
            <li>
<% #a nationality list would be nice for later sorting %>
              <%= form.label :staatsangehoerigkeit %>
              <%= form.text_field :staatsangehoerigkeit, :size => 24 %>
            </li>
          </ul>
          <ul>
            <li>
              <%= form.label :geschlecht %>
              <%= form.select :geschlecht, options_for_select(['', 'männlich', 'weiblich'], @bewerbung.geschlecht), :size => 1, :style => 'width: 11.75em' %>
            <li>
              <%= form.label :familienstand %>
              <%= form.select :familienstand, options_for_select(['', 'ledig', 'verheiratet'], @bewerbung.familienstand), :size => 1, :style => 'width: 11.75em' %>
            </li>
          </ul>
          <p>
              <%= form.label :religion %>
              <%= form.text_field :religion, :size => 24 %>
          </p>
          <p class="file">
          <% if @bewerbung.temp_foto? %>
            <%= link_to image_tag(@bewerbung.temp_foto.url(:thumb), :alt => "Dein Foto: #{@bewerbung.temp_foto.original_filename}"), @bewerbung.temp_foto.to_s, :target => '_blank', :class => 'img' %>
            <%= hidden_field 'already_attached_foto', nil, :value => File.basename(@bewerbung.temp_foto.url) %>
          <% end %>
            <%= form.label :temp_foto %>
            <%= form.file_field :temp_foto %>
          </p>
          <p class="file">
            <%= form.label :temp_lebenslauf %>
          <% if @bewerbung.temp_foto? %>
            <%= link_to "cv.#{@bewerbung.temp_lebenslauf_file_name.split('.').last}", @bewerbung.temp_lebenslauf.to_s, :target => '_blank' %>
            <%= hidden_field 'already_attached_lebenslauf', nil, :value => File.basename(@bewerbung.temp_lebenslauf.url) if @bewerbung.temp_lebenslauf? %>
          <% end %>
            <%= form.file_field :temp_lebenslauf %>
          </p>
        </fieldset>
        <fieldset>
          <legend><label for="bewerbung_strasse_und_nummer">Anschrift der Eltern</label></legend>
          <%= errors_for_methods Bewerbung::ANSCHRIFT_DER_ELTERN %>
          <p>
              <%= form.label :strasse_und_nummer %>
              <%= form.text_field :strasse_und_nummer, :size => 35 %>
          </p>
          <ul>
            <li>
              <%= form.label :plz %>
              <%= form.text_field :plz, :size => 5 %>
            </li>
            <li>
              <%= form.label :ort %>
              <%= form.text_field :ort, :size => 24 %>
            </li>
          </ul>
          <p>
<% #a country list would be nice for later sorting %>
            <%= form.label :land %>
            <%= form.text_field :land, :size => 24 %>
          </p>
        </fieldset>
        <fieldset>
          <legend><label for="bewerbung_email">Weitere Kontaktinformationen</label></legend>
          <%= errors_for_methods Bewerbung::WEITERE_KONTAKTINFORMATIONEN %>
          <p>
             <%= form.label :email %>
            <%= form.email_field :email, :size => 24 %>
          </p>
          <ul>
            <li>
              <%= form.label :mobiltelefon %>
              <%= form.text_field :mobiltelefon, :size => 24 %>
            </li>
            <li>
              <%= form.label :festnetztelefon %>
              <%= form.text_field :festnetztelefon, :size => 24 %>
            </li>
          </ul>
        </fieldset>
        <fieldset>
          <legend><%= form.label :hochschule, 'Angaben zum Studium' %></label></legend>
          <%= errors_for_methods Bewerbung::ANGABEN_ZUM_STUDIUM %>
          <ul>
            <li>
              <%= form.label :hochschule %>
              <%= form.select :hochschule, options_for_select([['Karlsruher Institut für Technologie (Uni)', 'KIT'],
                                                               ['Hochschule Karlsruhe (FH)', 'FH'],
                                                               ['Pädagogische Hochschule (PH)', 'PH'],
                                                               ['Duale Hochschule (BA)', 'BA'],
                                                               ['Akademie der Bildenden Künste (AkdBK)', 'AkdBK'],
                                                               ['Hochschule für Gestaltung (HfG)', 'HfG'],
                                                               ['Hochschule für Musik (HfM)', 'HfM'],
                                                               ['Karlshochschule Karlsruhe', 'Karlshochschule'],
                                                               'Andere'], @bewerbung.hochschule), :size => 1, :style => "width: 11.75em" %>
            </li>
            <li>
              <%= form.label :hauptfach %>
              <%= form.text_field :hauptfach, :size => 24 %>
            </li>
          </ul>
          <p>
            <%= form.label :anzahl_abgeschlossener_fachsemester %>
            <%= form.number_field :anzahl_abgeschlossener_fachsemester, :step => 1, :min => 0, :size => 24 %>
          </p>
          <ul>
            <li>
              <%= form.label :studienende %>
              <%= form.text_field :studienende, :type => 'month', :size => 24 %>
              <span>Jahr-Monat (z.B. <%=l 3.years.from_now, :format => @bewerbung.date_format_for(:studienende) %>)</span>
            </li>
            <li>
              <%= form.label :angestrebter_abschluss %>
              <%= form.select :angestrebter_abschluss, options_for_select(['Bachelor', 'Master', 'Diplom', 'Magister', 'Staatsexamen', 'Anderer'], @bewerbung.angestrebter_abschluss), :size => 1, :style => 'width: 11.75em' %>
            </li>
          </ul>
          <div id="berufsakademie">
            <p>
              <%= form.label :firma %>
              <%= form.text_field :firma, :size => 35 %>
            </p>
            <ul>
              <li>
                <%= form.label :firma_plz %>
                <%= form.text_field :firma_plz, :size => 5 %>
              </li>
              <li>
                <%= form.label :firma_ort %>
                <%= form.text_field :firma_ort, :size => 24 %>
              </li>
            </ul>
            <p class="radio">
              <label>Während der Praxisphasen im HEK?</label>
              <%= form.radio_button :waehrend_der_praxisphasen_im_hek, '' %>
              <%= form.label :waehrend_der_praxisphasen_im_hek_, 'vielleicht' %>
              <%= form.radio_button :waehrend_der_praxisphasen_im_hek, true %>
              <%= form.label :waehrend_der_praxisphasen_im_hek_true, 'ja' %>
              <%= form.radio_button :waehrend_der_praxisphasen_im_hek, false %>
              <%= form.label :waehrend_der_praxisphasen_im_hek_false, 'nein' %>
            </p>
          </div>
        </fieldset>
        <nav>
          <a href="#organisatorisches">Weiter zu Organisatorisches &raquo;</a>
        </nav>
      </section>
      <section id="organisatorisches">
        <%= render :partial => 'bewerbungen/steps', :locals => { :current => :organisatorisches} %>
        <fieldset>
          <legend><%= form.label :fruehestens, 'Angaben zum Einzug' %></legend>
          <%= form.label :fruehestens, 'Mietbeginn (jeweils der Monatserste)' %>
          <%= errors_for_methods Bewerbung::ANGABEN_ZUM_EINZUG %>
          <ul>
            <li>
              <%= form.label :fruehestens %>
              <%= form.text_field :fruehestens, :type => 'month', :size => 24 %>
              <span>Jahr-Monat (z.B. <%=l 2.months.from_now, :format => @bewerbung.date_format_for(:fruehestens) %>)</span>
            </li>
            <li>
              <%= form.label :wunsch %>
              <%= form.text_field :wunsch, :type => 'month', :size => 24 %>
              <span>Jahr-Monat (z.B. <%=l 3.months.from_now, :format => @bewerbung.date_format_for(:wunsch) %>)</span>
            </li>
            <li>
              <%= form.label :spaetestens %>
              <%= form.text_field :spaetestens, :type => 'month', :size => 24 %>
              <span>Jahr-Monat (z.B. <%=l 4.months.from_now, :format => @bewerbung.date_format_for(:spaetestens) %>)</span>
            </li>
          </ul>
          <p>
            <%= form.label :geplante_wohndauer %>
            <%= form.number_field :geplante_wohndauer, :size => 24, :step => 1, :min => 0, :size => 24 %>
            <span>in Monaten (z.B. 36)</span>
          </p>
        </fieldset>
        <fieldset>
          <legend><%= form.label :komme_vorbei_am, 'Persönliche oder telefonische Vorstellung' %></legend>
          <%= errors_for_methods Bewerbung::VORSTELLUNG %>
          <p>
            <%= form.label :komme_vorbei_am %>
            <%= form.text_field :komme_vorbei_am, :type => 'date', :size => 24 %>
            <span>Jahr-Monat-Tag (z.B. <%=l 2.weeks.from_now, :format => @bewerbung.date_format_for(:komme_vorbei_am) %>)</span>
          </p>
          <p>
            <%= form.label :sprechstunde_im_monat %>
            <%= form.text_field :sprechstunde_im_monat, :type => 'month', :size => 24 %>
            <span>Jahr-Monat (z.B. <%=l 2.months.from_now, :format => @bewerbung.date_format_for(:sprechstunde_im_monat) %>)</span>
          </p>
          <p>
            <%= form.label :vorstellungsgespraech_nicht_moeglich %>
            <%= form.text_field :vorstellungsgespraech_nicht_moeglich, :type => 'time', :size => 24 %>
            <span>Stunde:Minute (z.B. 19:00)</span>
          </p>
        </fieldset>
        <fieldset>
          <legend><%= form.label :organisatorische_mitteilungen %></legend>
          <%= errors_for_methods Bewerbung::ORGANISATORISCHE_MITTEILUNGEN %>
          <%= form.text_area :organisatorische_mitteilungen, :rows => 6, :cols => 48 %>
        </fieldset>
        <nav>
          <a href="#persoenliches">&laquo; Zurück zu Persönliches</a>
          <a href="#motivation">Weiter zu Motivation &raquo;</a>
        </nav>
      </section>
      <section id="motivation">
        <%= render :partial => 'bewerbungen/steps', :locals => { :current => :motivation} %>
        <fieldset>
          <legend><%= form.label :motivation %></legend>
          <%= errors_for_methods Bewerbung::MOTIVATION %>
          <div class="text">
            <p>
              Wir möchten uns ein Bild von Dir und Deiner Lebenssituation verschaffen. Schreibe einen kurzen und zusammenhängenden Text über Dich selbst. Wie Du diesen Punkt bearbeitest ist Dir überlassen; die folgenden Fragen sollen als Anregung und Hilfestellung verstanden werden.
            </p>
            <ul>
              <li>Hast Du schon in einem Wohnheim gewohnt? Falls ja, wo und welche Erfahrungen hast Du gemacht?</li>
              <li>Warum möchtest Du in einem Wohnheim, speziell dem Hermann-Ehlers-Kolleg, wohnen?</li>
              <li>Kannst Du Dir vorstellen, Dich aktiv in eine Lebensgemeinschaft mit 21 Mitbewohnern auf einer Etage einzubringen? Wann ja, wie?</li>
              <li>Wie sieht Deine aktuelle Lebenssituation aus? Wie beschreibst Du Deine familiäre Situation, wie finanzierst Du Dein Studium?</li>
              <li>Wenn Du Dich bisher in einer Gemeinschaft engagiert hast: Was hast Du dort gemacht? Was sind Deine Erfahrungen? (Vereine, Kirchengemeinde, Schule, ...)</li>
              <li>Welche Interessen und Hobbys hast Du? Wie verbringst Du Deine Freizeit?</li>
              <li>Gibt es weitere Dinge, die wir über Dich wissen sollten?</li>
            </ul>
          </div>
          <%= form.text_area :motivation, :rows => 30, :cols => 86 %>
        </fieldset>
        <nav>
          <a href="#organisatorisches">&laquo; Zurück zu Organisatorisches</a>
          <input type="submit" name="bestaetigung" value="Weiter zu Bestätigung &raquo;" />
        </nav>
      </section>
    <% end %>
    <%= form_for @bewerbung, :url => bewerbung_bestaetigen_path, method: 'put', :html => { :class => 'bestaetigen_bewerbung', :id => 'bestaetigen_bewerbung' } do |form| %>
      <section id="bestaetigung">
        <%= render :partial => 'bewerbungen/steps', :locals => { :current => :bestaetigung } %>
        <div class="text">
      <% if @bewerbung.errors.any? %>
          <p class="errors">
            Manche benötigten Angaben fehlen oder sind fehlerhaft. Bitte korrigiere diese.
          </p>
      <% elsif not @bewerbung.new_record? %>
          <p>
            Wir haben auf dieser Seite die wichtigsten Daten deiner Bewerbung, die auf jeden Fall stimmen sollten, zusammengefasst. Bitte kontrolliere ob alles stimmt und klicke dann auf "Bestätigen".
          </p>
        <% if @bewerbung.temp_foto? %>
          <%= link_to image_tag(@bewerbung.temp_foto.url(:medium), :alt => "Dein Foto: #{@bewerbung.temp_foto.original_filename}"), @bewerbung.temp_foto.to_s, :target => '_blank', :class => 'foto' %>
        <% else %>
          <%= image_tag '/images/missing.png', :alt => 'Du hast kein Foto hochgeladen.', :class => 'foto' %>
        <% end %>
          <dl>
            <dt>Persönliche Daten</dt>
            <dd><%= @bewerbung.name %></dd>
            <dd><%=l @bewerbung.geburtsdatum %></dd>
          <% if @bewerbung.temp_lebenslauf? %>
            <dd><%= link_to "Lebenslauf: #{@bewerbung.temp_lebenslauf.original_filename}", @bewerbung.temp_lebenslauf.to_s, :target => '_blank' %></dd>
          <% end %>
            <dt>Kontakt</dt>
            <dd>
              <%= @bewerbung.strasse_und_nummer %><br />
              <%= @bewerbung.plz.to_s + ' ' + @bewerbung.ort %><br />
              <%= @bewerbung.land %><br />
            </dd>
            <dt>E-Mail-Adresse</dt>
            <dd><%= @bewerbung.email %></dd>
            <dt>Telefonnummer</dt>
            <dd>
            <%= (@bewerbung.festnetztelefon unless @bewerbung.festnetztelefon.blank?) \
                || (@bewerbung.mobiltelefon unless @bewerbung.mobiltelefon.blank?) \
                || 'Du hast keine Telefonnummer angegeben. Das musst du auch nicht, aber es wäre für den weiteren Kontakt sehr nützlich. Überleg dir, ob du sie nicht angeben möchtest.'
            %>
            </dd>
          <% unless @bewerbung.anzahl_abgeschlossener_fachsemester.blank? || @bewerbung.hauptfach.blank? %>
            <dt>Studium</dt>
            <dd>
            <% if @bewerbung.anzahl_abgeschlossener_fachsemester > 0 %>
              Bei deinem Einzug wirst du das <%= @bewerbung.anzahl_abgeschlossener_fachsemester %>. Fachsemester <%= "im Fach #{@bewerbung.hauptfach}" unless @bewerbung.hauptfach.blank? %> abgeschlossen haben.
            <% else %>
              Du ziehst zu Beginn deines Studiums <%= "im Fach #{@bewerbung.hauptfach}" unless @bewerbung.hauptfach.blank? %> ein.
            <% end %>
            </dd>
          <% end %>
            <dt>Einzug</dt>
            <dd>
              Du möchtest am liebsten am <%=l @bewerbung.wunsch %> einziehen<%= ", frühestens jedoch zum #{l @bewerbung.fruehestens}" unless @bewerbung.fruehestens.blank? %><%= ", spätestens zum #{l @bewerbung.spaetestens}" unless @bewerbung.spaetestens.blank? %>.
            </dd>
            <dt>Über dich</dt>
            <dd id="about"><%= @bewerbung.motivation %></dd>
          </dl>
      <% end %>
        </div>
        <nav>
          <a href="#motivation">&laquo; Zurück zu Motivation</a>
          <%= form.submit :value => 'Bestätigen &raquo;'.html_safe, :disabled => ('disabled' if @bewerbung.errors.any?) %>
        </nav>
      </section>
    <% end %>
    <section id="ablauf">
    <%= render :partial => 'bewerbungen/steps', :locals => { :current => :ablauf } %>
      <p>
        Und was passiert jetzt?
      </p>
      <p>
        Wir würden uns freuen, wenn du bald noch zu einem Kennenlerngespräch bei uns vorbeikommst. Such dir einen Termin zu den Sprechzeiten des <a href="/organisation/heimleiter" target="_blank">Heimleiters</a> aus und stell dich vor. Falls du nicht vorbei kommen kannst, kann es sein, dass wir dich anrufen um dich ein bisschen besser kennenzulernen.
      </p>
      <p>
        Dann musst du noch auf eine Antwort vom Heimleiter warten &#8212; bei Zusage wird ein Mietvertrag geschickt, bei einer Absage können wir leider nicht jeden informieren.
      </p>
      <p>
        Wir freuen uns, wenn du uns zusagst und den Mietvertrag unterschrieben zurückschickst.
      </p>
      <p>
        Dann musst du nur noch deinen Einzugstermin mit <a href="/organisation/hausmeister" target="_blank">Frau Knöppel</a> klären und kannst mit uns ganz viel Spaß im HEK haben!
      </p>
    </section>
  </div>
</article>
