<article id="detailed">
  <div class="postit">
    <dl>
      <dd id="dateien">
      <% if @bewerbung.foto? %>
        <%= link_to (image_tag @bewerbung.foto.url(:medium), :alt => nil), @bewerbung.foto.url, :id => 'foto' %>
      <% elsif @bewerbung.lebenslauf? # Fehlendes Foto sieht nur komisch aus, wenn danach der Lebenslauf-Link kommt. %>
        <div id="foto" style="width: 140px; height: 140px"></div>
      <% end %>
        <%= link_to 'Lebenslauf', @bewerbung.lebenslauf.url, :id => 'lebenslauf' if @bewerbung.lebenslauf? %>
      </dd>
      <dt>E-Mail</dt>
      <dd><%= mail_to @bewerbung.email, @bewerbung.email.reverse %></dd>
      <dt>Anschrift</dt>
      <dd><%= @bewerbung.strasse_und_nummer %></dd>
      <dd><%= @bewerbung.plz %> <%= @bewerbung.ort %></dd>
      <dd><%= @bewerbung.land %></dd>
  <% if @bewerbung.telefon? %>
      <dt>Telefon</dt>
    <% if @bewerbung.festnetztelefon? %>
      <dd><%= @bewerbung.festnetztelefon %> (festnetz)</dd>
    <% end %>
    <% if @bewerbung.mobiltelefon? %>
      <dd><%= @bewerbung.mobiltelefon %> (mobil)</dd>
    <% end %>
  <% end %>
    </dl>
    <img class="background" src="/images/postit.png" alt="Postit" />
  </div>
  <h2><%= @bewerbung.name %></h2>
  <dl>
  <% if @bewerbung.fruehestens? and @bewerbung.fruehestens != @bewerbung.wunsch %>
    <dt>Frühestens</dt>
    <dd><%=l @bewerbung.fruehestens %></dd>
  <% end %>
    <dt>Wunsch</dt>
    <dd><%=l @bewerbung.wunsch %></dd>
  <% if @bewerbung.spaetestens? and @bewerbung.spaetestens != @bewerbung.wunsch %>
    <dt>Spätestens</dt>
    <dd><%=l @bewerbung.spaetestens %></dd>
  <% end %>
  <% if @bewerbung.geplante_wohndauer? %>
    <dt>Wohndauer</dt>
    <dd><%= pluralize @bewerbung.geplante_wohndauer, 'Monat', 'Monate' %></dd>
  <% end %>
  </dl>
  <dl>
  <% if @bewerbung.geschlecht? %>
    <dt>Geschlecht</dt>
    <dd><%= @bewerbung.geschlecht %></dd>
  <% end %>
  <% if @bewerbung.staatsangehoerigkeit? %>
    <dt>Staatsangehörigkeit</dt>
    <dd><%= @bewerbung.staatsangehoerigkeit %></dd>
  <% end %>
    <dt>Geburtsdatum (Alter)</dt>
    <dd><%=l @bewerbung.geburtsdatum %> (<%= @bewerbung.alter %> Jahre)</dd>
  <% if @bewerbung.familienstand? %>
    <dt>Familienstand</dt>
    <dd><%= @bewerbung.familienstand %></dd>
  <% end %>
  <% if @bewerbung.religion? %>
    <dt>Religion</dt>
    <dd><%= @bewerbung.religion %></dd>
  <% end %>
  </dl>
  <section id="studium">
    <h3>Studium</h3>
    <dl>
    <% if @bewerbung.hauptfach? %>
      <dt>Hauptfach</dt>
      <dd><%= @bewerbung.hauptfach %></dd>
    <% end %>
    <% if @bewerbung.hochschule? %>
      <dt>Hochschule</dt>
      <dd><%= @bewerbung.hochschule %></dd>
    <% end %>
    <% if @bewerbung.anzahl_abgeschlossener_fachsemester? %>
      <dt>Semester</dt>
      <dd><%= @bewerbung.anzahl_abgeschlossener_fachsemester %></dd>
    <% end %>
    <% if @bewerbung.studienende? %>
      <dt>Studienende</dt>
      <dd><%=l @bewerbung.studienende %></dd>
    <% end %>
    <% if @bewerbung.angestrebter_abschluss? %>
      <dt>Abschluss</dt>
      <dd><%= @bewerbung.angestrebter_abschluss %></dd>
    <% end %>
    </dl>
  <% if @bewerbung.hochschule == 'BA' %>
    <dl>
      <dt>Firma</dt>
      <dd><%= @bewerbung.firma %></dd>
      <dd><%= @bewerbung.firma_plz %> <%= @bewerbung.firma_ort %></dd>
      <dt>Während Praxisphasen im HEK?</dt>
      <dd><%= {nil => 'vielleicht', true => 'ja', false => 'nein'}[@bewerbung.waehrend_der_praxisphasen_im_hek] %></dd>
    </dl>
  <% end %>
  </section>
  <section id="vorstellung">
    <h3>Persönliche Vorstellung</h3>
<% if @bewerbung.komme_vorbei_am? || @bewerbung.sprechstunde_im_monat? || @bewerbung.vorstellungsgespraech_nicht_moeglich? || @bewerbung.organisatorische_mitteilungen? %>
  <% if @bewerbung.komme_vorbei_am? %>
    <p>Ich komme vorbei am <%=l @bewerbung.komme_vorbei_am %>.</p>
  <% end %>
  <% if @bewerbung.sprechstunde_im_monat? %>
    <p>Ich kann auf Einladung in eine Sprechstunde kommen im <%=l @bewerbung.sprechstunde_im_monat, :format => '%B' %>.</p>
  <% end %>
  <% if @bewerbung.vorstellungsgespraech_nicht_moeglich? %>
    <p>Ich kann nicht zum Vorstellungsgespräch kommen aber ich stehe für ein telefonisches Gespräch bereit. Am besten bin ich erreichbar um <%=l @bewerbung.vorstellungsgespraech_nicht_moeglich, :format => :time %> Uhr.</p>
  <% end %>
  <% if @bewerbung.organisatorische_mitteilungen? %>
    <p><%= @bewerbung.organisatorische_mitteilungen %></p>
  <% end %>
<% else %>
    <p>Der Bewerber hat keine Angaben zu einem Vorstellungsgespräch gemacht und auch keine organisatorischen Bemerkungen hinterlassen.</p>
<% end %>
  </section>
  <section id="motivation">
    <h3>Motivation</h3>
    <p><%= @bewerbung.motivation %></p>
  </section>
  <section id="kommentare">
    <h3>Kommentare</h3>
    <ol>
      <%= render :partial => @bewerbung.kommentare %>
    </ol>
    <%= render :partial => 'kommentare/form' %>
  </section>
  <section id="bewertung">
    <h3>Bewertung</h3>
    <% if @bewerbung.bewertungen.for(@user).blank? %>
      <%= render :partial => 'bewertung', :locals => { :bewerbung => @bewerbung } %>
    <% else %>
      <dl>
        <dt>Einzelbewertungen</dt>
        <dd><%= render :partial => 'bewertungen', :locals => { :bewerbung => @bewerbung } %></dd>
        <dt>Gesamtbewertung</dt>
        <dd><%= @bewerbung.bewertung %></dd>
      </dl>
    <% end %>
  </section>
  <nav>
    <%= button_to 'wir haben zugesagt', zusagen_bewerbung_path(@bewerbung), :method => 'put', :disabled => @bewerbung.zugesagt?, :form_class => 'zusagen' %>
    <%= button_to 'er/sie hat abgesagt', absagen_bewerbung_path(@bewerbung), :method => 'put', :disabled => @bewerbung.abgesagt?, :confirm => 'Hat er/sie wirklich abgesagt?', :form_class => 'absagen' %>
    <%= link_to '« Zurück zur Übersicht', bewerbungen_path, :class => 'zurueck' %>
  </nav>
</article>
