<div class="postit">
  <dl>
    <dd>21 Tutoriate</dd>
    <dd><%= Tutor.anzahl %> Tutoren</dd>
  </dl>
  <img class="background" src="/images/postit.png" alt="Postit" />
</div>
<p>
  Im HEK wird das WIR ganz groß geschrieben und deshalb ist es uns auch wichtig, dass die Bewohner und Bewohnerinnen am Wohnheimleben aktiv teilnehmen. Es gibt hier sehr viele Möglichkeiten, selbst einmal etwas zu verändern oder neu zu gestalten. Aus diesem Grund hat sich eine Vielzahl an Tutoriaten gebildet.
</p>
<article>
  <nav>
    <a href="#multi-kulti">
      <figure>
        <img src="/images/tutoriate/multi-kulti.png" alt="" />
        <figcaption>Multi-Kulti</figcaption>
      </figure>
    </a>
    <a href="#fahrrad">
      <figure>
        <img src="/images/tutoriate/fahrrad.png" alt="" />
        <figcaption>Fahrrad</figcaption>
      </figure>
    </a>
    <a href="#garten">
      <figure>
        <img src="/images/tutoriate/garten.png" alt="" />
        <figcaption>Garten</figcaption>
      </figure>
    </a>
    <a href="#hausmeistervertretung">
      <figure>
        <img src="/images/tutoriate/hausmeistervertretung.png" alt="" />
        <figcaption>Hausmeisterver.</figcaption>
      </figure>
    </a>
    <a href="#hekbar">
      <figure>
        <img src="/images/tutoriate/hekbar.png" alt="" />
        <figcaption>HEKbar</figcaption>
      </figure>
    </a>
    <a href="#hekcar">
      <figure>
        <img src="/images/tutoriate/hekcar.png" alt="" />
        <figcaption>HEKcar</figcaption>
      </figure>
    </a>
    <a href="#hekweck">
      <figure>
        <img src="/images/tutoriate/hekweck.png" alt="" />
        <figcaption>HEKweck</figcaption>
      </figure>
    </a>
    <a href="#hekgrill">
      <figure>
        <img src="/images/tutoriate/hekgrill.png" alt="" />
        <figcaption>HEKgrill</figcaption>
      </figure>
    </a>
    <a href="#hekmedien">
      <figure>
        <img src="/images/tutoriate/hekmedien.png" alt="" />
        <figcaption>HEKmedien</figcaption>
      </figure>
    </a>
    <a href="#hekphone">
      <figure>
        <img src="/images/tutoriate/hekphone.png" alt="" />
        <figcaption>HEKphone</figcaption>
      </figure>
    </a>
    <a href="#hektronik">
      <figure>
        <img src="/images/tutoriate/hektronik.png" alt="" />
        <figcaption>HEKtronik</figcaption>
      </figure>
    </a>
    <a href="#hekweb">
      <figure>
        <img src="/images/tutoriate/hekweb.png" alt="" />
        <figcaption>HEKweb</figcaption>
      </figure>
    </a>
    <a href="#heknet">
      <figure>
        <img src="/images/tutoriate/heknet.png" alt="" />
        <figcaption>HEKnet</figcaption>
      </figure>
    </a>
    <a href="#hekcopy">
      <figure>
        <img src="/images/tutoriate/hekcopy.png" alt="" />
        <figcaption>HEKcopy</figcaption>
      </figure>
    </a>
    <a href="#generationen">
      <figure>
        <img src="/images/tutoriate/generationen.png" alt="" />
        <figcaption>Generationen</figcaption>
      </figure>
    </a>
    <a href="#kultur">
      <figure>
        <img src="/images/tutoriate/kultur.png" alt="" />
        <figcaption>Kultur</figcaption>
      </figure>
    </a>
    <a href="#postmaster">
      <figure>
        <img src="/images/tutoriate/postmaster.png" alt="" />
        <figcaption>Postmaster</figcaption>
      </figure>
    </a>
    <a href="#sport">
      <figure>
        <img src="/images/tutoriate/heksport.png" alt="" />
        <figcaption>HEKsport</figcaption>
      </figure>
    </a>
    <a href="#billard">
      <figure>
        <img src="/images/tutoriate/billard.png" alt="" />
        <figcaption>Billard</figcaption>
      </figure>
    </a>
    <a href="#hekwama">
      <figure>
        <img src="/images/tutoriate/hekwama.png" alt="" />
        <figcaption>HEKwama</figcaption>
      </figure>
    </a>
    <a href="#hekt-shirt">
      <figure>
        <img src="/images/tutoriate/hekt-shirt.png" alt="" />
        <figcaption>HEKt-shirt</figcaption>
      </figure>
    </a>
  </nav>
  <section id="multi-kulti">
    <figure>
      <img src="/images/tutoriate/multi-kulti.png" alt="" />
      <h2>Multi-Kulti</h2>
    </figure>
    <div class="postit">
      <dl>
        <dl>
          <%= render :partial => 'leben/tutoriat', :locals => {:tutoriat => Tutoriat.new('Multi-Kulti')} %>
        </dl>
        <dt>Telefon</dt>
        <dd>0721 / 8695 - 1239</dd>
      </dl>
      <img class="background" src="/images/postit.png" alt="Postit" />
    </div>
    <p>
      Multi-Kulti ist tot? Wir sehen das anders. Das friedliche Zusammenleben und den Austausch zwischen Menschen mit unterschiedlicher geographischer und kultureller Herkunft empfinden wir als bereichernd und wünschenswert. Unser Ziel ist es, die Situation von internationalen Studenten im HEK zu verbessern und den Austausch mit den deutschen Studenten zu fördern.
    </p>
    <a class="back-to-top" href="#main">Zurück nach oben ↑</a>
  </section>
  <section id="fahrrad">
    <figure>
      <img src="/images/tutoriate/fahrrad.png" alt="" />
      <h2>Fahrrad</h2>
    </figure>
    <div class="postit">
      <dl>
        <%= render :partial => 'leben/tutoriat', :locals => {:tutoriat => Tutoriat.new('Fahrrad')} %>
      </dl>
      <img class="background" src="/images/postit.png" alt="Postit" />
    </div>
    <p>
      Wir betreuen die Fahrradwerkstatt im Keller. Den Schlüssel für den Werkzeugkoffer findest du über der Tür von Zimmer 414. Falls du Spezialwerkzeug brauchst, wende dich bitte direkt an uns. Außerdem kannst du bei uns das notwendigste Reparatur-material kaufen sowie beide Tandems und den Fahrradanhänger ausleihen.
    </p>
    <a class="back-to-top" href="#main">Zurück nach oben ↑</a>
  </section>
  <section id="garten">
    <figure>
      <img src="/images/tutoriate/garten.png" alt="" />
      <h2>Garten</h2>
    </figure>
    <div class="postit">
      <dl>
        <%= render :partial => 'leben/tutoriat', :locals => {:tutoriat => Tutoriat.new('Garten')} %>
      </dl>
      <img class="background" src="/images/postit.png" alt="Postit" />
    </div>
    <p>
      Wir kümmern uns um die Pflanzen im Saal und auf der Dachterrasse. Außerdem gibt es bei und Infos zu Mülltrennung und Umweltschutz.
    </p>
    <a class="back-to-top" href="#main">Zurück nach oben ↑</a>
  </section>
  <section id="hausmeistervertretung">
    <figure>
      <img src="/images/tutoriate/hausmeistervertretung.png" alt="" />
      <h2>Hausmeistervertretung</h2>
    </figure>
    <div class="postit">
      <dl>
        <%= render :partial => 'leben/tutoriat', :locals => {:tutoriat => Tutoriat.new('Hausmeistervertretung')} %>
      </dl>
      <img class="background" src="/images/postit.png" alt="Postit" />
    </div>
    <p>
      Damit unser allgegenwärtiges und überaus fleißiges Hausmeisterehepaar auch einmal in den Urlaub gehen kann, ohne befürchten zu müssen, dass im HEK alles vollständig im Chaos versinkt, gibt es uns. Wir kümmern uns um Ein- und Auszüge, Renovierungen und kleinere bis größere Hilferufe.
    </p>
    <a class="back-to-top" href="#main">Zurück nach oben ↑</a>
  </section>
  <section id="hekbar">
    <figure>
      <img src="/images/tutoriate/hekbar.png" alt="" />
      <h2>HEKbar</h2>
    </figure>
    <div class="postit">
      <dl>
        <%= render :partial => 'leben/tutoriat', :locals => {:tutoriat => Tutoriat.new('HEKbar')} %>
      </dl>
      <img class="background" src="/images/postit.png" alt="Postit" />
    </div>
    <p>
      Immer donnerstags ab 21:30 Uhr öffnet die legendäre HEK-Bar. Gute Musik, nette Mitbewohner hinter der Theke (=Wir, das Bar-Team) und Getränke zu absolut studentenfreundlichen Preisen erwarten dich! Wechselnde Specials wie Wein- und Whiskeyproben, Shishabars oder Themenabende inklusive.
    </p>
    <a class="back-to-top" href="#main">Zurück nach oben ↑</a>
  </section>
  <section id="hekcar">
    <figure>
      <img src="/images/tutoriate/hekcar.png" alt="" />
      <h2>HEKcar-sharing</h2>
    </figure>
    <div class="postit">
      <dl>
        <%= render :partial => 'leben/tutoriat', :locals => {:tutoriat => Tutoriat.new('HEKcar')} %>
      </dl>
      <img class="background" src="/images/postit.png" alt="Postit" />
    </div>
    <p>
      Bei uns könnt ihr euch für CarSharing anmelden - eine gute Alternative zum eigenen Auto! Vor dem HEK steht ein Corsa, den außer uns fast niemand benutzt; Kleinbusse, Transporter oder Limousinen sind an anderen Orten in Karlsruhe stationiert. Details gibt's unter <a href="http://www.stadtmobil.de">stadtmobil.de</a>.
    </p>
    <a class="back-to-top" href="#main">Zurück nach oben ↑</a>
  </section>
  <section id="hekweck">
    <figure>
      <img src="/images/tutoriate/hekweck.png" alt="" />
      <h2>HEKweck</h2>
    </figure>
    <div class="postit">
      <dl>
        <dt>Tutoren</dt>
        <dd>Jeder!</dd>
        <dt>Einkauf oder Bestellung</dt>
        <dd><a href="http://www.hek.uni-karlsruhe.de/hekwiki/doku.php?id=tutoriate:hekweck">Über das HEKwiki</a></dd>
      </dl>
      <img class="background" src="/images/postit.png" alt="Postit" />
    </div>
    <p>
      HEKweck kauft Samstag morgens frische Brötchen für alle, die zuvor im Wiki bestellt haben, ein. Es gibt keine festen Tutoren; jeder der einkaufen will kann einkaufen und jeder der bestellen will darf bestellen. Man geht dabei keinerlei Verpflichtungen ein: Niemand muss einkaufen und niemand bekommt ein Brötchen-Abo angedreht.
    </p>
    <a class="back-to-top" href="#main">Zurück nach oben ↑</a>
  </section>
  <section id="hekgrill">
    <figure>
      <img src="/images/tutoriate/hekgrill.png" alt="" />
      <h2>HEKgrill</h2>
    </figure>
    <div class="postit">
      <dl>
        <%= render :partial => 'leben/tutoriat', :locals => {:tutoriat => Tutoriat.new('HEKgrill')} %>
      </dl>
      <img class="background" src="/images/postit.png" alt="Postit" />
    </div>
    <p>
      Für gemütliche Sommerabende und Wintergrillaktionen stehen im HEK zwei Grills bereit &#8212; einer vor dem Haus und einer auf unserer Dachterrasse. Wir betreuen diese Grills und verleihen Grillbesteck.
    </p>
    <a class="back-to-top" href="#main">Zurück nach oben ↑</a>
  </section>
  <section id="hekmedien">
    <figure>
      <img src="/images/tutoriate/hekmedien.png" alt="" />
      <h2>HEKmedien</h2>
    </figure>
    <div class="postit">
      <dl>
        <%= render :partial => 'leben/tutoriat', :locals => {:tutoriat => Tutoriat.new('HEKmedien')} %>
      </dl>
      <img class="background" src="/images/postit.png" alt="Postit" />
    </div>
    <p>
      Im Musik- oder Beamerraum im Keller des HEK gibt es eine Heimkino-Anlage, wo ihr Filmabende veranstalten könnt. Verwaltet wird das Ganze von uns. Eine genaue Beschreibung sämtlicher Geräte findet ihr ebenfalls dort. Bei einem der Tutoren könnt ihr außerdem die Digicam des HEK ausleihen.
    </p>
    <a class="back-to-top" href="#main">Zurück nach oben ↑</a>
  </section>
  <section id="hekphone">
    <figure>
      <img src="/images/tutoriate/hekphone.png" alt="" />
      <h2>HEKphone</h2>
    </figure>
    <div class="postit">
      <dl>
        <%= render :partial => 'leben/tutoriat', :locals => {:tutoriat => Tutoriat.new('HEKphone')} %>
        <dt>Telefon</dt>
        <dd>0721 / 8695 - 1234</dd>
      </dl>
      <img class="background" src="/images/postit.png" alt="Postit" />
    </div>
    <p>
      Wir sorgen für Telefon und Telefonanschluss aller Bewohner und kümmern uns um Türsprechstelle und Fax. Dadurch haben alle Bewohner die Möglichkeit, ihre Kontakte, egal ob nah oder fern, kostengünstig zu pflegen &#8212; und falls noch Fragen auftreten sollten, stehen die Tutoren euch zur Seite.
    </p>
    <a class="back-to-top" href="#main">Zurück nach oben ↑</a>
  </section>
  <section id="hektronik">
    <figure>
      <img src="/images/tutoriate/hektronik.png" alt="" />
      <h2>HEKtronik</h2>
    </figure>
    <div class="postit">
      <dl>
        <%= render :partial => 'leben/tutoriat', :locals => {:tutoriat => Tutoriat.new('HEKtronik')} %>
      </dl>
      <img class="background" src="/images/postit.png" alt="Postit" />
    </div>
    <p>
      Wir kümmern uns um die Elektrowerkstatt, in der Funktionsgeneratoren, Lötkolben, stabilisierte Netzteile, Zweistrahloszilloskope, Werkzeug aller Art und eine Dunkelkammerausrüstung das Tüftlerherz höher schlagen lassen.
    </p>
    <a class="back-to-top" href="#main">Zurück nach oben ↑</a>
  </section>
  <section id="hekweb">
    <figure>
      <img src="/images/tutoriate/hekweb.png" alt="" />
      <h2>HEKweb</h2>
    </figure>
    <div class="postit">
      <dl>
        <%= render :partial => 'leben/tutoriat', :locals => {:tutoriat => Tutoriat.new('HEKweb')} %>
      </dl>
      <img class="background" src="/images/postit.png" alt="Postit" />
    </div>
    <p>
      Nach dem tragischen Absturz unseres Servers hatten wir endlich Anlass und Motivation ein neue Homepage zu entwickeln. Das Ergebnis betrachtet ihr gerade. Diese wunderbare Webseite wird von uns gestaltet und verwaltet. Wir versuchen euch möglichst mit aktuellen Infos rund ums HEK zu versorgen.
    </p>
    <a class="back-to-top" href="#main">Zurück nach oben ↑</a>
  </section>
  <section id="heknet">
    <figure>
      <img src="/images/tutoriate/heknet.png" alt="" />
      <h2>HEKnet</h2>
    </figure>
    <div class="postit">
      <dl>
        <%= render :partial => 'leben/tutoriat', :locals => {:tutoriat => Tutoriat.new('HEKnet')} %>
        <dt>Telefon</dt>
        <dd>0721 / 8695 - 1236</dd>
      </dl>
      <img class="background" src="/images/postit.png" alt="Postit" />
    </div>
    <p>
      HEKnet betreut die Netzwerk-, Fernseh- und Rundfunkanschlüsse im HEK. Wir unterhalten die dazu nötige Infrastruktur, richten bei den Bewohnern Netzwerkzugänge ein und helfen bei Problemen. Daneben sind wir für die Datenbank des HEK zuständig, halten die Webserver am Laufen, stellen Speicherplatz für Tutoriate zur Verfügung und einiges mehr. Für jeden Bewohner bieten wir
		<ul>
			<li><FONT SIZE=3>ein vollständig geroutetes eigenes IPv4-Subnetz mit wahlweise 5 oder 13 IPv4-Adressen</FONT></li>
			<li><FONT SIZE=3>einen nativen IPv6-Zugang mit global eindeutigem /64-Subnetz</FONT></li>
			<li><FONT SIZE=3>Zugang über 1GB/s-LAN auf den Zimmern und im Saal</FONT></li>
			<li><FONT SIZE=3>Zugang über 802.11n-WLAN (300MBit/s) in den Gemeinschaftsräumen</FONT></li>
		</ul>
 	</p>
    <a class="back-to-top" href="#main">Zurück nach oben ↑</a>
  </section>
  <section id="hekcopy">
    <figure>
      <img src="/images/tutoriate/hekcopy.png" alt="" />
      <h2>HEKcopy</h2>
    </figure>
    <div class="postit">
      <dl>
        <%= render :partial => 'leben/tutoriat', :locals => {:tutoriat => Tutoriat.new('HEKcopy')} %>
        <dt>Postfach</dt>
        <dd>0721 / 8695 - 1237</dd>
      </dl>
      <img class="background" src="/images/postit.png" alt="Postit" />
    </div>
    <p>
      Kopieren, Drucken, Scannen, Laminieren, Binden und vieles mehr kann man im Kopierraum des HEK. Wir stehen euch gerne bei Fragen und Problemen zur Seite, verwalten eure Druckkonten und haben alles nötige Zubehör für euch.
    </p>
    <a class="back-to-top" href="#main">Zurück nach oben ↑</a>
  </section>
  <section id="generationen">
    <figure>
      <img src="/images/tutoriate/generationen.png" alt="" />
      <h2>Generationen</h2>
    </figure>
    <div class="postit">
      <dl>
        <%= render :partial => 'leben/tutoriat', :locals => {:tutoriat => Tutoriat.new('Generationen')} %>
        <dt>Website</dt>
        <dd><a href="http://generationen.studenten-wohnheim.de">generationen.studenten-wohnheim.de</a></dd>
      </dl>
      <img class="background" src="/images/postit.png" alt="Postit" />
    </div>
    <p>
      Das Leben im HEK ist so schön, dass manch einer gar nicht mehr ausziehen möchte. Wer dennoch dieses Wohnheim verlassen musste, kann durch <a href="http://generationen.studenten-wohnheim.de">uns</a> in Kontakt mit dem HEK bleiben. Jedes Jahr wird zum Beispiel das Maifest veranstaltet, bei dem sich ehemalige und aktuelle Bewohner treffen und Anekdoten austauschen.
    </p>
    <a class="back-to-top" href="#main">Zurück nach oben ↑</a>
  </section>
  <section id="kultur">
    <figure>
      <img src="/images/tutoriate/kultur.png" alt="" />
      <h2>Kultur</h2>
    </figure>
    <div class="postit">
      <dl>
        <%= render :partial => 'leben/tutoriat', :locals => {:tutoriat => Tutoriat.new('Kultur')} %>
      </dl>
      <img class="background" src="/images/postit.png" alt="Postit" />
    </div>
    <p>
      Wir sind das Kulturtutoriat! Und deshalb machen wir alles, was irgendwie mit Kultur zu tun hat: Heimkulturabende (wo ein jeder irgendetwas kulturell besonders wertvolles darbieten darf), Theater besuchen, Theater spielen, Laterne basteln, Mottobars veranstalten, Verfassungsgericht (auch von innen) betrachten, … Neue Mitglieder und neue Ideen sind uns immer sehr willkommen. Also komm!
    </p>
    <a class="back-to-top" href="#main">Zurück nach oben ↑</a>
  </section>
  <section id="postmaster">
    <figure>
      <img src="/images/tutoriate/postmaster.png" alt="" />
      <h2>Postmaster</h2>
    </figure>
    <div class="postit">
      <dl>
        <%= render :partial => 'leben/tutoriat', :locals => {:tutoriat => Tutoriat.new('Postmaster')} %>
      </dl>
      <img class="background" src="/images/postit.png" alt="Postit" />
    </div>
    <p>
      Wir kümmern uns hauptsächlich um die Bewohner-, Etagen- und Tutoriats-Mailinglisten. Dazu zählt das Ein-/Austragen und die Konfiguration der Listen sowie der Versand von Erinnerungen und Informationen zum E-Mail-Verkehr an die Tutoriate.
    </p>
    <a class="back-to-top" href="#main">Zurück nach oben ↑</a>
  </section>
  <section id="sport">
    <figure>
      <img src="/images/tutoriate/heksport.png" alt="" />
      <h2>HEKsport</h2>
    </figure>
    <div class="postit">
      <dl>
        <%= render :partial => 'leben/tutoriat', :locals => {:tutoriat => Tutoriat.new('HEKsport')} %>
      </dl>
      <img class="background" src="/images/postit.png" alt="Postit" />
    </div>
    <p>
      Jeden Freitag um 19:30 Uhr treffen sich Sport-begeisterte aus dem HEK und den benachbarten Wohnheimen zum Wohnheimsport in der PH-Sporthalle. Abwechselnd wird dann Fußball, Volleyball, Basketball oder Badminton gespielt.
    </p>
    <p>
      Wir organisieren den Wohnheimsport und betreuen den HEK-Sportschrank mit Sport- und Spielgeräten, die jeder Bewohner ausleihen kann. Ab und zu organisieren wir sportliche Unternehmungen und Turniere.
    </p>
    <a class="back-to-top" href="#main">Zurück nach oben ↑</a>
  </section>
  <section id="billard">
    <figure>
      <img src="/images/tutoriate/billard.png" alt="" />
      <h2>Billard</h2>
    </figure>
    <div class="postit">
      <dl>
        <%= render :partial => 'leben/tutoriat', :locals => {:tutoriat => Tutoriat.new('Billiard')} %>
      </dl>
      <img class="background" src="/images/postit.png" alt="Postit" />
    </div>
    <p>
      Das HEK verfügt seit kurzem über einen frisch renovierten Pool-Billardtisch. Wir, das Billard-Tutoriat, kümmern uns um den Tisch sowie das zugehörige Equipment wie Queue, Kugeln, Kreide usw. Dazu gehören Reparaturen von klein (Queue-Spitze reparieren) bis groß (Tisch neu beziehen) sowie das Anschaffen von geeignetem Ersatz im Falle irreparabler Schäden sowie das Organisieren von kleineren Billard-Turnieren.
    </p>
    <a class="back-to-top" href="#main">Zurück nach oben ↑</a>
  </section>
  <section id="hekwama">
    <figure>
      <img src="/images/tutoriate/hekwama.png" alt="" />
      <h2>HEKwama</h2>
    </figure>
    <div class="postit">
      <dl>
        <%= render :partial => 'leben/tutoriat', :locals => {:tutoriat => Tutoriat.new('Waschmaschine')} %>
        <dt>Telefon</dt>
        <dd>0721 / 8695 - 1233</dd>
      </dl>
      <img class="background" src="/images/postit.png" alt="Postit" />
    </div>
    <p>
      Wir, das sind Wischi, Waschi und Woschi, bilden zusammen das Waschmaschinentutoriat. Mit uns erlebt ihr größten Waschspaß für gerade mal 60 bis 80 cent. Trocknen lässt sich die Wäsche im Trockenraum hinter der Fahrradwerkstatt, auf den Etagen oder aber mit dem Trockner, wenn es mal schneller gehen soll. Geld wechseln oder eine Einweisung bekommen, könnt ihr bei unseren studentischen Assistenten.
    </p>
    <a class="back-to-top" href="#main">Zurück nach oben ↑</a>
  </section>
  <section id="hekt-shirt" class="last">
    <figure>
      <img src="/images/tutoriate/hekt-shirt.png" alt="" />
      <h2>HEKt-shirt</h2>
    </figure>
    <div class="postit">
      <dl>
        <%= render :partial => 'leben/tutoriat', :locals => {:tutoriat => Tutoriat.new('HEKt-shirt')} %>
      </dl>
      <img class="background" src="/images/postit.png" alt="Postit" />
    </div>
    <p>
      Die kultigen HEK-T-Shirts könnt ihr bei uns als Polo, Normales oder Girly-Version bekommen. Sie sind das ideale Accessoire für Heim- und Parkplatzfeste und auch sonst immer ein modisches Highlight. Für Beratung zu HEK-T-Shirts stehen wir gerne zur Verfügung.
    </p>
    <a class="back-to-top" href="#main">Zurück nach oben ↑</a>
  </section>
</article>
