<article id="ueberblick">
  <h1>Studentenwohnheim Hermann-Ehlers-Kolleg</h1>
  <section id="evangelisches">
    <a href="/wohnheim">
      <h2>
        <img src="/images/startseite/evangelisches.jpg" alt="Evangelisches" />
        <span>… Studentenwohnheim.</span>
      </h2>
      <p>
        Aber du musst nicht evangelisch sein, um hier zu wohnen.
      </p>
    </a>
  </section>
  <section id="zusammen-leben">
    <a href="/leben">
      <h2>
        <img src="/images/startseite/zusammen-leben.jpg" alt="Zusammen leben" />
        <span>… und gemeinsam anpacken.</span>
      </h2>
      <p>
        Wie jeder weiß, ist alleine auf dem Zimmer sitzen out.
      </p>
    </a>
  </section>
  <section id="gestalten">
    <a href="/organisation">
      <h2>
        <img src="/images/startseite/gestalten.jpg" alt="Gestalten" />
        <span>… und das in Eigenregie.</span>
      </h2>
      <p>
        Wir sind <strong>selbstverwaltet</strong>, das heißt wir machen unsere Regeln selbst.
      </p>
    </a>
  </section>
</article>
<article id="bevorstehendes">
  <section>
    <h3>Semesterbeginn</h3>
    <p>
		Das HEK wünscht allen Studierenden einen guten Start ins neue Semester.
    </p>
    <h3> <strong> Achtung! </strong> </h3>
    <p>
      Leider sind für das kommende Wintersemester schon alle Zimmer vergeben. Wir können deswegen keine Bewerbungen mehr entgegennehmen. 
    </p>
  </section>
  <section>
    <h3>Termine</h3>
    <ol>	   
	  <li<%= ' class="vergangen"'.html_safe if Time.now > Time.strptime('31/10/2013', '%d/%m/%Y').end_of_day %>>
        <strong> Neueingezogenen Abend</strong> <em>Donnerstag, 31. Oktober</em>
      </li>
    <li<%= ' class="vergangen"'.html_safe if Time.now > Time.strptime('08/11/2013', '%d/%m/%Y').end_of_day %>>
        <strong> HEK-Geburtstagsfest</strong> <em>Freitag, 08. November</em>
      </li>
    <li<%= ' class="vergangen"'.html_safe if Time.now > Time.strptime('22/11/2013', '%d/%m/%Y').end_of_day %>>
        <strong> HEK-Ball</strong> <em>Freitag, 22. November</em>
      </li>
    <li<%= ' class="vergangen"'.html_safe if Time.now > Time.strptime('25/11/2013', '%d/%m/%Y').end_of_day %>>
        <strong> 1. Konvent</strong> <em>Montag, 25. November</em>
      </li>
    <li<%= ' class="vergangen"'.html_safe if Time.now > Time.strptime('06/12/2013', '%d/%m/%Y').end_of_day %>>
        <strong> Tour de HEK</strong> <em>Dienstag, 1. Oktober</em>
      </li>
    <li<%= ' class="vergangen"'.html_safe if Time.now > Time.strptime('14/01/2014', '%d/%m/%Y').end_of_day %>>
        <strong> Stammtisch</strong> <em>Dienstag, 14. Januar</em>
      </li>
    <li<%= ' class="vergangen"'.html_safe if Time.now > Time.strptime('16/01/2014', '%d/%m/%Y').end_of_day %>>
        <strong> Heimvollversammlung</strong> <em>Donnerstag, 16. Januar</em>
      </li>
      <li<%= ' class="vergangen"'.html_safe if Time.now > Time.strptime('23/01/2014', '%d/%m/%Y').end_of_day %>>
        <strong> HEK-Dinner</strong> <em>Donnerstag, 23. Januar</em>
      </li>
      <li<%= ' class="vergangen"'.html_safe if Time.now > Time.strptime('06/02/2014', '%d/%m/%Y').end_of_day %>>
        <strong> 2. Konvent</strong> <em>Donnerstag, 06. Februar</em>
      </li>
    
    </ol>
  </section>
</article>
<% cache 'startseite_bilder' do %>
<article id="bilder">
<% {'maifest' => 'http://www.hek.uni-karlsruhe.de/bilder/feste/Maifest2010/',
    'heimfest' => 'http://www.hek.uni-karlsruhe.de/bilder/feste/album51/Bilder-von-Simon/',
    'parkplatzfest' => 'http://www.hek.uni-karlsruhe.de/bilder/feste/Parkplatzfest%202010/'}.each do |id, url| %>
  <section id="<%= id %>">
    <h3><%= id.humanize %></h3>
    <ul>
    <% Nokogiri::HTML(open(url)).css('#images .imagethumb a').first(12).each do |link| %>
      <li>
        <%= link_to image_tag("http://www.hek.uni-karlsruhe.de#{link.at_css('img').try(:attr, 'src')}", :alt => nil), "http://www.hek.uni-karlsruhe.de#{link.attr('href')}" %>
      </li>
    <% end %>
    </ul>
  </section>
<% end %>
</article>
<% end %>
