<!doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title><%= site_title %>Hermann-Ehlers-Kolleg</title>
    <meta name="description" content="Das Hermann-Ehlers-Kolleg bietet Studenten 149 gut ausgestattete und preiswerte Zimmer mitten in Karlsruhe.">
    <meta name="keywords" content="Studentenwohnheim, Wohnheim, Wohnheime, Hermann-Ehlers-Kolleg, HEK, Hermann Ehlers, Karlsruhe, Zimmer, Wohngemeinschaft, WG, Mieten, evangelisch, Wohnung, Studentenleben">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <%= stylesheet_link_tag 'application', :media => 'all' %>
    <%= auto_discovery_link_tag :atom, bewerbungen_path(:atom) if controller? :bewerbungen and action? :index, :show %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body id="<%= site_id %>">
    <%= render :partial => 'layouts/header' %>
    <div id="main" role="main">
      <div class="container">
        <%= yield %>
      </div>
    </div>
    <%= render :partial => 'layouts/footer' %>
    <%= yield :javascript %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
